/*Colour palette
charcoal: #161c20
yellow: #fff276
cornsilk: #FFF8DC
purple: #663366
Teal: #008080
black: #00000 */
* {
  box-sizing: border-box;
}

/* Layout styling */


body{background-color: #FEFEFA}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Playfair', serif ;
}
h1 {
  font-size: 2.75em;
  font-weight: 900;
  color: #008080;

}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}


header{
  display: block;
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: floralwhite;
  margin: 1px;
  border-bottom: 1px solid #663366;
}


.headerlogo {
  max-width: 120px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  background-color: white;
}

/*hero section*/

#hero {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
  display: inline-block;
  width: 100%;

}



/*Links in header*/

nav > ul  {
list-style: none;
padding: 0;
text-align: right;
margin-top: -30px;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;

}



a {
  color: #ff7f50;
    text-decoration: none; /* No underlining */
}

.footer a {
  color: #fff276;
  text-decoration: none;
}

/*pseudo classes*/

nav > ul > li > a:hover {
  color: #663366;
  background-color: #FFF8DC;
  text-decoration: underline;
}

nav > ul > li > a :visited {
  color: #663366;
}

nav > ul > li > a:focus { /*input/keyboard*/
  color: #663366;
  background-color: #FFF8DC;
  text-decoration: underline;
}

nav > ul > li > a:active { /*selected/clicked*/
  color: #663366;
  background-color: #FFF8DC;
}



/*buttons*/

.button {
  background-color: #FFF8DC;
  border-radius: 6px;
  color: #663366;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  padding: 15px 10px;
  border-bottom: 1px solid #663366; /* width of the border, type, color */
}

a.button {
  color: #663366;
  margin-top: 20px;
  font-weight: 400px;
}

.button:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.button.contact {
  background-color: ;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/*about page*/

 #intro {
  background-color: #161c20;
  padding-bottom: 10px;
  padding-top: 0px;

}

#intro .col-txt{


}

#intro .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
#intro .row {
  display: flex;
  flex-direction: row;

}
@media (min-width: 768px) {
#intro .row{
  width: 1920px;
}



#skillsandtools .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}
#skillsandtools .row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

}
@media (min-width: 768px) {
#skillsandtools .row{
  width: 100%;
}




/*middle of the page*/

img {
  width: 100%;

}

.container {
  padding: 0 20px;
}


.imgsm {
  max-width: 50%;
}

/*portfolio page*/
.tags {
  position: relative;
  margin-left: -10px;
  width: 40%
}


#projects .row {
  display: flex;
  flex-direction: column;
  border: 5px solid #ffdd00;
  margin-bottom: 50px;
}

#projects .col-txt {
  padding: 3em 2em;
}



}



footer {
  background-color: #161c20;
  border-color: #161c20;
height: auto;
color: lightgrey;
}


/* for txt overlay later
.img-block {
  background-image: url(../img/travel-buddy/cover-small.png);
  background-size: cover;
  min-height:400px;
}
.img-block:hover .txt {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;

}

.img-block:hover .txt p {
  font-size: 3em;
  color: #ffffff;
}
*/

@media (min-width: 768px) {
  #projects .row {
    width: 45%;
  }

  #projects .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


@media (min-width: 150px) {
  #profileimg{
width: 40%

  }




}
#casestudy .wrapper .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 10em;
    padding-bottom: 5em;

  }

.row {
  padding-top: 4em;
  padding-bottom: 4em;
}

@media (min-width: 1080px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }


  @media (min-width: 1080px) {
    .container2 {
      max-width: 800px;
      margin: 0 auto;
    }
}

footer {
  background-color: #161c20;
  border-color: #161c20;
height: auto;
color: lightgrey;
}
