/*Colour palette
charcoal: #161c20
yellow: #fff276
cornsilk: #FFF8DC
purple: #663366
Teal: #008080
black: #00000 */
* {
  box-sizing: border-box;
}

/* Layout styling */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  background-color: #FEFEFA
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Playfair', serif;
}

h1 {
  font-size: 2.79em;
  font-weight: 900;
  color: #008080;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 100;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: floralwhite;
  border-bottom: 1px solid #663366;
}

.headerlogo {
  max-width: 120px;
  float: left;
}

/*hero section*/
#hero {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

/*Links in header*/
nav>ul {
  list-style: none;
  padding: 0;
  margin-top: 10px 0 0;
  /*for sizes bigger than phones
text-align: right;*/
  text-align: right;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

/*pseudo classes*/
nav>ul>li>a:hover {
  color: #663366;
  background-color: #FFF8DC;
  text-decoration: underline;
}

nav>ul>li>a :visited {
  color: #663366;
}

nav>ul>li>a:focus {
  /*input/keyboard*/
  color: #663366;
  background-color: #FFF8DC;
  text-decoration: underline;
}

nav>ul>li>a:active {
  /*selected/clicked*/
  color: #663366;
  background-color: #FFF8DC;
}

.container {
  padding: 0 80px;
}

.container2 {
  padding: 0 10px;
}

/*buttons*/
.button {
  background-color: #FFF8DC;
  border-radius: 6px;
  color: #663366;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  padding: 15px 10px;
  border-bottom: 1px solid #663366;
  /* width of the border, type, color */
  transition: 0.2 opacity;
}

a.button {
  color: #663366;
  margin-top: 20px;
  font-weight: 400px;
}

.button:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.button.contact {
  background-color: ;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/*about page*/
#intro {
  background-color: #161c20;
  padding-bottom: 10px;
  padding-top: 0px;
}

#intro .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#intro .row {
  display: flex;
  flex-direction: row-reverse;
  width: 100%
}

#skillsandtools .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#skillsandtools .row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/*middle of the page*/
img {
  max-width: 100%;
  float: right;
}

#profileimg {
  max-width: 80%;
}

.imgsm {
  max-width: 50%;
}

/*portfolio page*/
.tags {
  float: left;
  margin-left: -10px;
  width: 35%
}

.row-flex {
  display: flex;
  flex-direction: row;
  width: 1920px;
}
/*
#projects .row {
  display: flex;
  flex-direction: column;
  border: 5px solid #ffdd00;
  margin-bottom: 50px;
  width: 50%
}
*/
.column {
  padding: 10px
}

#projects .col-txt {
  padding: 3em 2em;
}


/* for txt overlay later
.img-block {
  background-image: url(../img/travel-buddy/cover-small.png);
  background-size: cover;
  min-height:400px;
}
.img-block:hover .txt {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;

}

.img-block:hover .txt p {
  font-size: 3em;
  color: #ffffff;
}
*/
/*animiations*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#projects .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


#casestudy .wrapper .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 10em;
  padding-bottom: 5em;
}

.row {
  padding-top: 1em;
  padding-bottom: 2em;
}
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: right;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin-top: 16px 0 0;
  }

  .container {
    padding: 60px;
  }

  [class*="col-"] {
    float: left;
    width: 100% padding 10px;
    display: block;
  }

  #profileimg {
    max-width: 80%
  }

  .container #intro {
    max-width: 60%;
    margin: auto;
  }

#skillsandtools .row {
  max-width: 100%;
}

#projects .row {
  width: 50%;
}

#projects .row {
  width: 50%;
}
}


@media (min-width: 768px) {
  #intro .row {
    width: 100%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .col-md-7 {
    width: 60%;
  }

  .col-md-5 {
    width: 40%;
  }
}
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}

footer {
  background-color: #161c20;
  border-color: #161c20;
  padding: 10px 0;
  color: lightgrey;
}
