/*Colour palette
charcoal: #161c20
yellow: #fff276
cornsilk: #FFF8DC
purple: #663366
Teal: #008080
black: #00000 */
* {
  box-sizing: border-box;
}

/* Layout styling */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  background-color: #FFFFFF;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Playfair', serif;
}

h1 {
  font-size: 2.79em;
  font-weight: 900;
  color: #FFFFFF;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;


}

h3 {
  font-size: 1.35em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 100;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: White;
  border-bottom: 1px solid #161c20;
  text-align: unset;
}

.headerlogo {
  max-width: 120px;
}

/*hero section*/
#hero {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color:#161c20;
}

#hero span {
  display: block;
  text-align: left;
  font-size: 0.8em;
}

#hero p{
  font-size: 1.28em;
  text-align: left;
  color: silver;
}

#hero h1{
  text-align: left;
}
/*Links in header*/

nav>ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}



nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

/*pseudo classes*/
nav>ul>li>a:hover {
  color: #663366;
  background-color: #FFF8DC;
  text-decoration: underline;
}

nav>ul>li>a :visited {
  color: #663366;
}

nav>ul>li>a:focus {
  /*input/keyboard*/
  color: #663366;
  background-color: #FFF8DC;
  text-decoration: underline;
}

nav>ul>li>a:active {
  /*selected/clicked*/
  color: #663366;
  background-color: #FFF8DC;
}

.navtoggle li:not(:last-child) {
display: none;
}
.container {
  padding: 0 20px;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive nav {
padding: 24px 0 0;
}

.navtoggle.responsive li {
display: block;
padding: 10px 0;
border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
padding: 0 0 10px;
}
.navtoggle.responsive nav {
padding: 24px 0 0;
}

.navtoggle.responsive li {
display: block;
padding: 10px 0;
border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
padding: 0 0 10px;
}

header .container { /*specfically targets a class within a element i.e only the container element in the header section*/
  padding: 0 10px;
}
footer .container {
  padding: 0 10px;
}
/*
#intro .container {
  padding: 20px;
}
*/

#my-story .container {
  padding: 0, 60px;
}

#intro .container {
  padding: 20px;
}

#skills .container {
  padding: 20px;
}

#interests .container{
  padding: 20px;
}

#intro h2{
  margin-top: -10px;
}


/*buttons*/
.button {
  background-color: #161c20;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  padding: 15px 10px;
  border-bottom: 1.5px solid #fff276;
  /* width of the border, type, color */
  transition: 0.2 opacity;
}

a.button {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.button:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.button.contact {
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.sub-heading{
    background-color: #161c20;
    border-radius: 60px;
    text-align: center;
    color: #FFFFFF;
    width: 50%;


}
/*about page*/
#intro {
  background-color: #161c20;
  padding-bottom: 10px;
  padding-top: 0px;
  color: white;
}

#skills {
  background-color: #161c20;
  padding-bottom: 10px;
  padding-top: 0px;
  color: white;
}

#intro .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#intro .row {
  display: flex;
  flex-direction: column;
  width: 100%
}

#skillsandtools .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#skillsandtools .row {
  display: flex;
justify-content:space-between;
 margin: 0 auto;
}

#freepik_stories-discovery{
  background-color: #161c20;
  border-radius: 250px;
  margin-top: 100px;
  width: 80%;
  margin-left: 15%
}

#my-story .row-flex{
  flex-direction: column-reverse;
}
/*middle of the page*/
img {
  width: 100%;

}


.imgsm {
  max-width: 50%;
}

/*portfolio page*/
#casestudy .container {
  padding: 20px;
}
.tags {
width: 35%;
  padding : 5px 0;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}
.row-flex .about{
  width: 80%
  margin:auto;
}

.column-48{
  width: 48%;
}


#overview .wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#roles .column {
  width: 19%;

}

#roles ul{
  margin: -30px;
margin-top: 5px;
}
#projects .col-txt {
  padding: 3em 2em;
}

.about{
  flex-direction: column;
  width: 210%
}

.competitor-analysis{
  flex-direction: column;
  width:210%;
}

.wireframes{
  flex-direction: column;
  width: 100%;
}

.stack {
  width: 100%;
}

.column-text-704{
width: 100%;
}
/* for txt overlay later
.img-block {
  background-image: url(../img/travel-buddy/cover-small.png);
  background-size: cover;
  min-height:400px;
}
.img-block:hover .txt {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;

}

.img-block:hover .txt p {
  font-size: 3em;
  color: #ffffff;
}
*/
/*animiations*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#projects .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


#casestudy .wrapper .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 10em;
  padding-bottom: 5em;
}

/* Case studies*/

#global-citizen-hero .column:first-child{
  width:40%
}

#global-citizen-hero .column:last-child{
 width: 55%

}





.heading h1{
  padding-top: 10px;
  margin-top: 10px;
  color: #7E57C2;
}

.img-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 50%;
  text-align: center;
  border-radius: 10px;
}

.img-small{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 60%;
  text-align: center;
  border-radius: 10px;


}

.img-mid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 80%;
  text-align: center;
  border-radius: 10px;


}

.img-big{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;


}

.row {
  padding-top: 1em;
  padding-bottom: 2em;
}

<<<<<<< HEAD

=======
/* ==============================
Small devices (640px and larger)
================================= */
@media only screen and (min-width: 200px) {

  #my-story .row-flex{
    flex-direction: column-reverse;
  }
  #my-story .column-48{
    width: 100%
  }
>>>>>>> 3b1150d632625a3d1194cc579b102406402a7dee

  .container {
    padding: 20px;
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding-bottom: 50px;
  }

.headerlogo{
max-width: 150px;
  float:left;
}
  nav {
    width: auto;
    text-align: right;
    margin-top: 4px;
  }

  nav>ul {
    list-style: none;
    padding: 0;
    margin: 16px 0 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}


  [class*="col-"] {
    padding: 10px;
    display: block;
  }

  #my-story .row-flex{
    flex-direction: row;
  }

#skillsandtools .row {
  max-width: 100%;
}

#projects .row {
  width: 48%;
}

#intro .row{
  flex-direction: row;
  justify-content: space-between;
}

 #intro .column:first-child{
   width:40%
 }

#intro .column:last-child{
  width: 55%

}

#intro .container {
  padding: 50px;
}

#my-story .row-flex{
  flex-direction: row;
}

#my-story .column{
  width: 100%
}
.container{
  padding: 40px;
}

.about{
  flex-direction: row;
  width:100%;
}
.competitor-analysis{
  flex-direction: row;
  width:100%;
}



.column-text-704{
  min-width: 704px;
  max-width: 704px;
  width: 704px;
}
.heading h1{
  padding-top: 50px;
  margin-top: 80px;
  color: #7E57C2;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .col-md-7 {
    width: 60%;
  }

  .col-md-5 {
    width: 40%;
  }
}
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}

.socials{
  display: flex;
  padding: 10px 0;

}
.socials svg path{
  fill: #FEFEFA
}
.socials svg {
  width: auto;
  height: 32px;
  margin-right: 1em;
}

.socials .behance {
  height: 39px;
}

.socials a{
  display: flex;
  flex-direction: row;
}
footer {
  background-color: #161c20;
  border-color: #161c20;
  padding: 10px 0;
  color: lightgrey;
}
